/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
#header {
    background-color: rgb(134, 134, 247);
    height: 100px;
    /* debug */
    border: 2px solid;
    border-style: dotted;
}
#container-header {
    height: 50px;
    width: 70%;
    margin-top: 20px;
    margin-left: 15%;
    /* debug */
    background-color: rgb(62, 62, 158);
    border: 2px solid;
    border-style: dotted;
}
#hero {
    height: 500px;
    /* debug */
    background-color: rgb(93, 93, 111);
    border: 2px solid;
    border-style: dotted;
}
#container-hero {
    height: 400px;
    width: 60%;
    margin-top: 50px;
    margin-left: 20%;
    /* debug */
    background-color: rgb(71, 71, 188);
    border: 2px solid;
    border-style: dotted;
}
#container-1 {
    background-color: rgb(89, 89, 104);
    height: 600px;
    display: flex;
    /* debug */
    border: 2px solid;
    border-style: dotted;
    justify-content: center;
}
#container-1-img {
    height: 500px;
    width: 300px;
    flex-basis: 45%;
    margin-top: 50px;
    /* debug */
    background-color: rgb(86, 175, 197);+
    border: 2px solid;
    border-style: dotted;
}
#container-1-nav {
    margin-top: 50px;
    height: 500px;
    width: 300px;
    flex-basis: 25%;
    /* debug */
    background-color: rgb(69, 135, 152);
    border: 2px solid;
    border-style: dotted;
}
#container-2 {
    background-color: rgb(113, 109, 105);
    height: 600px;
    display: flex;
    justify-content: center;
    /* debug */
    border: 2px solid;
    border-style: dotted;
}
#container-2-img {
    height: 500px;
    width: 300px;
    flex-basis: 25%;
    margin-top: 50px;
    /* debug */
    background-color: rgb(86, 197, 180);
    border: 2px solid;
    border-style: dotted;

}
#container-2-nav {
    margin-top: 50px;
    height: 500px;
    width: 300px;
    flex-basis: 45%;
    /* debug */
    background-color: rgb(70, 158, 145);
    border: 2px solid;
    border-style: dotted;
}
#container-3 {
    background-color: rgb(113, 109, 105);
    height: 600px;
    display: flex;
    justify-content: center;
    /* debug */
    border: 2px solid;
    border-style: dotted;
}
#container-3-img {
    height: 500px;
    width: 300px;
    flex-basis: 25%;
    margin-top: 50px;
    /* debug */
    background-color: rgb(86, 197, 180);
    border: 2px solid;
    border-style: dotted;

}
#container-3-nav {
    margin-top: 50px;
    height: 500px;
    width: 300px;
    flex-basis: 45%;
    /* debug */
    background-color: rgb(70, 158, 145);
    border: 2px solid;
    border-style: dotted;
}
#container-4 {
    background-color: rgb(113, 109, 105);
    height: 800px;
    display: flex;
    justify-content: center;
    /* debug */
    border: 2px solid;
    border-style: dotted;
}
#container-4-img {
    height: 700px;
    width: 300px;
    flex-basis: 70%;
    margin-top: 50px;
    /* debug */
    background-color: rgb(86, 197, 108);
    border: 2px solid;
    border-style: dotted;
}
#container-5 {
    background-color: rgb(56, 54, 51);
    height: 600px;
    display: flex;
    justify-content: center;
    /* debug */
    border: 2px solid;
    border-style: dotted;
}
#container-5-1 {
    height: 500px;
    width: 300px;
    flex-basis: 24%;
    margin-top: 50px;
    /* debug */
    background-color: rgb(86, 118, 197);
    border: 2px solid;
    border-style: dotted;
}
#container-5-2 {
    height: 500px;
    width: 300px;
    flex-basis: 11.5%;
    margin-top: 50px;
    /* debug */
    background-color: rgb(86, 197, 180);
    border: 2px solid;
    border-style: dotted;
}
#container-5-3 {
    height: 500px;
    width: 300px;
    flex-basis: 11.5%;
    margin-top: 50px;
    /* debug */
    background-color: rgb(86, 197, 180);
    border: 2px solid;
    border-style: dotted;
}
#container-5-4 {
    height: 500px;
    width: 300px;
    flex-basis: 11.5%;
    margin-top: 50px;
    /* debug */
    background-color: rgb(86, 197, 180);
    border: 2px solid;
    border-style: dotted;
}
#container-5-5 {
    height: 500px;
    width: 300px;
    flex-basis: 11.5%;
    margin-top: 50px;
    /* debug */
    background-color: rgb(86, 197, 180);
    border: 2px solid;
    border-style: dotted;
}
#container-6 {
    background-color: rgb(56, 54, 51);
    height: 100px;
    display: flex;
    justify-content: center;
    /* debug */
    border: 2px solid;
    border-style: dotted;
}
#container-6-1{
    height: 70px;
    width: 300px;
    flex-basis: 70%;
    margin-top: 28px;
    /* debug */
    background-color: rgb(125, 79, 185);
    border: 2px solid;
    border-style: dotted;
}